/*Variable*/
/*Global*/
* {
  font-size: 14px;
  line-height: 1.6;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 1px;
}

p {
  margin: 0 0 15px 0;
}

a {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  color: #000;
  text-decoration: none;
}

h3 {
  font-weight: normal;
  margin: 0 0 0.75em;
  line-height: 1.4;
}

.h4--body {
  color: #000;
  text-transform: none;
  letter-spacing: 0;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.42857em;
  font-weight: normal;
  display: block;
  line-height: 1.4;
}

.h4--body:hover {
  text-decoration: none;
  color: #777
}

.uppercase {
  text-transform: uppercase;
  font-size: 0.8em;
}

.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -30px;
}

.grid__item {
  float: left;
  height: auto;
  padding-left: 30px;
  vertical-align: top;
  width: 100%;
}

.one-third {
  width: 33%;
}

.two-thirds {
  width: 66%;
}

img {
  margin: 0px;
}

h4 {
  font-size: 1.42857em;
}

h5 {
  font-size: 1.14286em;
  font-weight: normal;
  margin: 0 0 0.75em;
  line-height: 1.4;
}

small .small {
  text-transform: uppercase;
}

hr {
  clear: both;
  border-top: solid #000;
  border-width: 1px 0 0;
  margin: 30px 0;
  height: 0;
}

.hr--underline {
  margin-top: 10px;
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding: 0 30px;
}

body {
  font-size: 14px;
  line-height: 1.6;
  color: #000;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body .grid-uniform {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -30px;
}

.newsletter-form {
  background-color: #f3f3f3;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

.newsletter-form input {
  border: none;
}

input {
  padding: 8px 10px;
  font-size: 1em;
  max-width: 100%;
  display: block;
  margin: 0 0 1em;
  background-color: transparent;
  outline: none;
  width: auto;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group .newsletter-form {
  border-radius: 2px;
}

.input-group-btn {
  position: relative;
  white-space: nowrap;
  width: 1%;
  padding: 0;
}

.input-group-btn,
.input-group-field {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

.input-group .input-group-field:first-child {
  border-radius: 2px 0 0 2px;
  width: 100%;
  margin-bottom: 0;
  height: 37px;
}

.uppercase {
  text-transform: none;
  letter-spacing: 1px;
}

.btn {
  display: inline-block;
  padding: 8px 10px;
  margin: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-color: #000;
  color: #fff;
  line-height: 1.3em;
  font-size: 1.3em;
}

.footer-quicklinks {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
}

.footer-quicklinks li {
  margin: 0 0 10px 0;
}

.footer-quicklinks li a {
  text-decoration: none;
}

ul {
  list-style: none outside;
  margin: 0 0 30px;
  padding: 0;
}

.cart__remove {
  color: #000;
  text-transform: uppercase;
  font-size: 0.9em;
  display: block;
  opacity: 0.5;
  letter-spacing: 1px;
}

.noscroll {
  overflow: hidden;
}

/*utility*/
.centralized {
  line-height: 1;
  margin: auto;
}

/*Show & Hidden*/
.noShowMeWhatUGot {
  right: -150% !important;

}

.is-visable {
  visibility: visible !important;
  -webkit-transition: all 650ms cubic-bezier(0.57, 0.06, 0.05, 0.95) !important;
  -o-transition: all 650ms cubic-bezier(0.57, 0.06, 0.05, 0.95) !important;
  transition: all 650ms cubic-bezier(0.57, 0.06, 0.05, 0.95) !important;
}

/*media class*/
@media screen and (max-width:375px) {
  .site-header>.wrapper {
    padding: 0 !important;
  }

  .mobile-wrapper>.header-cart_wrapper {
    left: 5%;
  }
}

@media screen and (min-width: 480px) {
  .mega-button {
    margin: 240px auto;
  }

  .wrapper {
    padding: 0 30px;
  }

  .homepage-custom_parallax ::before {
    will-change: transform;
    position: fixed;
  }
}

@media screen and (min-width: 769px) {
  .large--one-third {
    width: 33.3%;
  }

  .cart__row--table-large .grid__item {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

  .grid--full>.grid__item {}

  .cart-content .cart__item__title {
    text-align: left;
    padding-left: 15px !important;
  }
}

@media screen and (max-width: 960px) {

  .logo-wrapper {
    margin: 0 auto;
  }

  .header-cart_bubble {
    visibility: visible !important;
  }

  .mobile-wrapper {
    display: block;
    width: 100%;
    padding-bottom: 5px;
  }

  .logo-image {
    margin: 0 auto;
    line-height: 60px;
  }

  .header-menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header-hamburger {
    right: 30px;
    position: absolute;
    background: url(//cdn.shopify.com/s/files/1/1132/3440/t/3/assets/nav.svg?91) no-repeat left 0 center;
    top: 50%;
    margin-top: -12px;
    width: 25px;
    height: 25px;
  }

  .header-cart {
    background: url(//cdn.shopify.com/s/files/1/1132/3440/t/3/assets/cart.svg?91) no-repeat left 0 center;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;

  }

  .header-cart_bubble {
    position: absolute;
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 12px;

    top: 50%;
    font-size: 0.5em;
    color: white;
    text-align: center;
    line-height: 12px;
    margin-top: -16px;
  }
}

@media screen and (max-width:576px) {
  .header-wrapper .site-header .nav-desktop .header-menu {
    width: 100%;
    height: 100vh;
    border-left: none !important;
  }
}

@media screen and (max-width:960px) {
  .desktop-menu {
    display: none;
  }
}

@media screen and (min-width:960px) {
  .mobile-menu {
    display: none !important;
  }
}

/*btn*/
.bag-btn {
  position: absolute;
  top: 50%;
  right: 0;
  color: white;
  background: black;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: rgba(255, 255, 255, 0.75);
}

.grid__item:hover .bag-btn {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.clear-btn {
  color: #000;

}

.clear-btn:hover {
  color: #777;
  text-decoration: none;
}

/*header*/
.header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: #fff;
  border-bottom: 1px solid black;

}

.header-wrapper .info-bar {
  background-color: #eee;
  color: #333;
  padding: 5px 0;
  height: 30px;
}

.header-wrapper .info-bar :after {
  position: absolute;
  z-index: 500;
  left: 0;
  top: 0;
  width: 15px;
  height: 25px;
  background-color: transparent;
}

.header-wrapper .info-bar .textLinks span {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
  color: #444;
  letter-spacing: 1px;
  font-size: 0.8em;
}

.header-wrapper .info-bar .textLinks a {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
  color: #444;
  letter-spacing: 1px;
  font-size: 0.8em;
}

.header-wrapper .site-header .nav-desktop {
  display: table;
  width: 100%;
  position: static;
}

.header-wrapper .site-header .nav-desktop .mobile-wrapper {
  float: none;
  display: table-cell;
  vertical-align: middle;
  width: 250px;
}

.header-cart_wrapper {
  top: 50%;
  left: 42px;
  margin: -12px;
  position: absolute;
}

@media screen and (max-width: 960px) {
  .header-wrapper .site-header .nav-desktop .mobile-wrapper {
    display: block;
    width: 100%;
  }
}

.header-wrapper .site-header .nav-desktop .mobile-wrapper .logo-wrapper {
  width: 80%;
}

.header-wrapper .site-header .nav-desktop .mobile-wrapper .logo-wrapper .header-logo {
  margin-bottom: 0;
  line-height: 0;
  text-align: left;
}

.header-wrapper .site-header .nav-desktop .mobile-wrapper .logo-wrapper .header-logo .logo-image {
  max-height: 60px;
  display: block;
  border: 0 none;
}

@media screen and (min-width: 480px) and (max-width: 960px) {
  .header-wrapper .site-header .nav-desktop .mobile-wrapper .logo-wrapper .header-logo .logo-image {
    margin: 0 auto;
  }
}

.header-wrapper .site-header .nav-desktop .header-menu {
  text-align: right;
  display: block;
}

@media screen and (max-width: 960px) {
  .header-wrapper .site-header .nav-desktop .header-menu {
    position: absolute;
    right: 0;
    background: #fff;
    z-index: 5000;
    min-width: 320px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
  }

  .header-wrapper .site-header .nav-desktop .header-menu ul {
    padding: 0;
    margin: 0 0 30px;
  }

  .header-wrapper .site-header .nav-desktop .header-menu .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }

  .header-wrapper .site-header .nav-desktop .header-menu .main-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
  }

  .header-wrapper .site-header .nav-desktop .header-menu .main-menu a {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
}

.header-wrapper .site-header .nav-desktop .header-menu ul {
  display: inline-block;
  margin: 0;
  list-style: none outside;
}

.header-wrapper .site-header .nav-desktop .header-menu ul li {
  display: inline-block;
}

.header-wrapper .site-header .nav-desktop .header-menu ul li a {
  display: block;
  color: #000;
  font-size: 1.1em;
  letter-spacing: 1px;
  padding: 30px 0;
  line-height: 1.6;
  color: #000;
  margin-left: 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

@media screen and (min-width: 960px) {
  .header-wrapper .site-header .header-cart_bubble {
    display: none;
  }

  .noShowMeWhatUGot {
    right: 0 !important;
  }
}

/*main-content*/
.main-content {
  margin-top: 0;
  padding-bottom: 0px;
  display: block;
}

.main-content .homepage-hero {
  height: 125vh;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.main-content .homepage-hero .Hero-Image {
  background-image: url(./assets/img/dandelion.jpg);
  display: block;
  background-size: cover;
  background-position-y: 46%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 1;
}

.main-content .homepage-hero-content {
  top: 60%;
  position: relative;
  position: relative;
  z-index: 10;
  color: #fff;
}

.main-content .homepage-hero-content .btn {
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
}

.main-content .homepage-hero-content .text-left .homepage-hero-content_title,
.main-content .homepage-hero-content .text-left .homepage-hero-content_block {
  margin-bottom: 5px;
  font-size: 3em;
  line-height: 1em;
}

.main-content .homepage-hero-content .text-left a {
  font-size: 1.8em;
  padding: 0;
  color: #fff;
  text-decoration: underline;
  text-transform: none;
}

.main-content .scroll-icon-wrap {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 4;
}

.main-content .scroll-icon-wrap .scroll_icon {
  
}

.main-content .hero-image-overlay {
  background: #000;
  opacity: 0.15;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/*homepage-collection*/
.homepage-collection {
  background-color: #fff;
  padding: 40px 0 10px 0;
}

.homepage-collection .home_subtitle {
  display: block;
  text-align: center;
  font-size: 3em;
  font-weight: normal;
  line-height: 1em;
  padding-bottom: 15px;
  margin-bottom: 45px;
}

.homepage-collection .grid-uniform {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  width: 90vw;
  max-width: 1170px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1.5em;
  grid-row-gap: 2em;
  overflow: hidden;

}

.homepage-collection .grid-uniform .grid__item {
  text-align: center;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}


.homepage-collection .grid-uniform .grid__item .grid__item:hover .grid__item>img {
  opacity: 0.5;
}

.homepage-collection .grid-uniform .grid__item img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.homepage-collection .grid-uniform .grid__item .figcaption {
  text-align: center;
}

.homepage-collection .grid-uniform .grid__item .figcaption .vendor__link a {
  color: black;
  text-decoration: none;
}

.homepage-collection .grid-uniform .grid__item .figcaption .name_wrapper {
  text-transform: none;
  font-size: 1.2em;
  letter-spacing: 0;
}

/*homepage-custom*/
.homepage-custom {
  z-index: -1;
}
.homepage-custom .homepage-custom_parallax {
  overflow: hidden;
  position: relative;
}

.homepage-custom .homepage-custom_parallax .text-center {
  text-align: center;
}

.homepage-custom .homepage-custom_parallax .text-center .mega-button {
  display: inline-block;
  padding: 0;
}

.homepage-custom .homepage-custom_parallax .text-center .mega-button .mega-button-content {
  color: #fff;
  text-transform: none;
  margin: 8px;
  font-size: 2em;
  border: none;
  display: inline-block;
  padding: 15px;
}

.homepage-custom .homepage-custom_parallax:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  background-image: url(./assets/img/hero-custom.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
  will-change: transform;
  position: fixed;
}

/*Footer*/
footer {
  margin-top: 0;
  background-color: #fff;
  position: relative;
  color: #000;
  text-align: left;
}

footer .site-footer {
  clear: both;
  padding-top: 40px;
}

footer .site-footer a {
  color: #000;
}

footer .site-footer hr {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

footer .site-footer #instafeed {
  display: -ms-grid;
  display: grid;
  width: 90vw;
  max-width: 1170px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5em;
  grid-row-gap: 2em;
  margin-bottom: 30px;
  float: left;
}

@media screen and (max-width: 480px) {
  footer .site-footer #instafeed {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 960px) {
  footer .site-footer #instafeed {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

footer .site-footer #instafeed a {
  width: 100%;
  position: relative;
  display: block;
  float: left;
}

footer .site-footer #instafeed a img {
  display: block;
  width: 100%;
  height: auto;
  border: 0 none;
}

footer .site-footer .footer-secondary-wrapper {
  text-align: center;
  position: relative;
}

footer .footer-secondary {
  margin-bottom: 0;
}

footer .footer-social,
footer .footer-payment {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
  margin-bottom: 0px;
  display: inline-block;
}

footer .footer-social li,
footer .footer-payment li {
  margin: 15px 7.5px 0 7.5px;
}

footer .payment-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

footer .payment-icons li {
  display: inline-block;
  color: #111010;
  cursor: default;
}

/*overlay & cart*/
.closeCart {
  position: absolute;
  top: 30px;
  right: 15px;
  opacity: 0.8;
  border: 0 none;
  width: 30px;
  height: 25px;
  display: block;
  font-size: 1em;
  z-index: 99999;
  cursor: pointer;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(https://cdn.shopify.com/s/files/1/1132/3440/t/3/assets/close.svg?91);
}

.cartoverlay {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(210, 210, 210, 0.8);
  z-index: 50;
  cursor: pointer;
  width: 100%;
}

.cartoverlay .cart-modal {
  background-color: white;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.25);
  width: 100%;
  top: 100%;
  left: 0%;
  margin: 100px auto 0 auto;
  max-width: 760px;
  height: 75%;
  overflow: auto;
  z-index: 999;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .cartoverlay .cart-modal {
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
  }
}

.cartoverlay .cart-modal h3 {
  position: -webkit-sticky;
  position: sticky;
  display: block;
}

.cartoverlay .cart-modal .cart__image>img {
  width: 100%;
  height: auto;
}

.cartoverlay .cart-modal .cart__row {
  position: relative;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #000;
}

.cartoverlay .cart-modal .cart__row .cart__row--table-large {
  padding: 0 30px 0 30px;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.cartoverlay .cart-modal .cart__content {
  background: #fff;
  opacity: 1;
  position: relative;
  padding: 30px 0 0 0;
}

.cartoverlay .cart-modal .cart__footer {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid black;
}

.cartoverlay .cart-modal .cart__footer .checkout__button {
  margin-top: 30px;
  width: 100%;
  border-radius: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  line-height: 1.3em;
  font-size: 1.3em;
}

.cartoverlay .cart-modal .cart__footer .cart-instruction {
  width: 100%;
  padding-right: 30px;
}

.cartoverlay .cart-modal .cart__footer .cart-instruction label {
  display: block;
  width: 100%;
  padding-left: 30px;
  font-weight: bold;
}

.cartoverlay .cart-modal .cart__footer .cart-instruction textarea {
  width: 100%;
  margin: 15px;
  min-height: 100px;
  padding: 8px 10px;
  line-height: 1.42;
  border-radius: 4px;
  border: 1px solid black;
}

.cartoverlay .cart-modal .cart__footer .cart__footer-text {
  text-align: center;
  padding: 0 30px;
}

.cartoverlay .cart-modal .cart__footer .cart__footer-text em {
  font-style: italic;
}

.cartoverlay .cart-modal .cart__footer .cart__footer-text .subtotal-money {
  font-weight: normal;
  margin: 0 0 0 10px;
  letter-spacing: 0px;
  font-size: 1.57143em;
}